*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    background: rgb(13, 13, 0);
}

.rows{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    color: rgb(130, 94, 3);

}

.second-colmn img{
    height: 608px;
    width: 650px;
    object-fit: cover;
}

.first-colmn{
    background-color: rgb(13, 13, 0);
    width: 620px;
}

 div h4{

   padding-top: 50px;
   padding-left: 60px;
   padding-bottom: 100px;
   color: rgb(130, 94, 3);
}

div h1{
    /* text-align: center; */
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 50px;
    padding-left: 150px;
    font-family: serif;
   
}


.container-1{
    background: rgb(13, 13, 0);
}

.button{
    padding-top: 30px;
    padding-left: 150px;
}

button{
    padding: 10px 40px;
    border-radius: 30px;
    margin: 0 7px;
}

#buy{
    background: transparent;
    border: 1px solid rgb(130, 94, 3);
    color: rgb(130, 94, 3);
}

#list{
    background: rgb(130, 94, 3);
    outline: none;
    color: rgb(13, 13, 0);
    border: none;
}

.third-colmn{
    background-color: rgb(13, 13, 0);
    width: 620px;
}

.rows .third-colmn{

    padding-top: 120px;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 40px;
    padding-left: 120px;
    font-family: sans-serif;
}

.third-colmn > .button{
    margin-right: 20px;

}
.second-colmn{
    padding-bottom:30px;
}

/*-------------section two-------------*/

.container-2{
    color: rgb(130, 94, 3);
    background: rgb(13, 13, 0);
   
}

hr{
    font-size: 20px;
    width: 95%;
    margin-left: 30px;
}

.info{
    text-align: center;
    
}

.info h2{
    padding-top: 30px;
    margin-bottom: 20px;
}

.row-1 img{
    width: 300px;
}

.info .row-1{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-content: center;
}

.col-1 .inside-div p{
    padding: 7px;
    /* margin-top: 10px; */
}

.col-1 .inside-div{
    position: relative;
}

.inside-div .inside{
    margin-top: 10px;
}

.col-1{
    position: relative;
}


.col-1 .inside-div::after{
    content: '';
    width: 300px;
    height: 2px;
    background: rgb(130, 94, 3);
    left: 0;
    display: block;
    position: absolute;
    margin-top: 5px;
    bottom: 0;
  

}

.col-1{
    margin-bottom: 20px;
}

/*----------testimonial.........*/


.container-3{

    width: 100%;
    height: 100vh;
    color: rgb(250, 181, 5);
    background-image: linear-gradient(rgba(39, 28, 1, 0.7),rgba(44, 32, 1, 0.7)),
    url(house-1.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.container-3 .info h2{
   text-align: left;
   color:rgb(250, 181, 5) ;
   padding-top: 20px;
   padding-left: 20px;
    
}
.info .row-22{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-content: center;
    place-items: center;
    padding-top: 150px;
}

.col-1 .inside-divv p{
    padding: 7px;
    /* margin-top: 10px; */
}

.col-1 .inside-divv{
    position: relative;
}

.inside-divv .inside{
    margin-top: 10px;
}

.col-1{
    position: relative;
}


/*-------------contact--------------*/

.container-4{
    background:  rgb(13, 13, 0);
    color:  rgb(130, 94, 3);
}

.headingg h3{
    color: white;
    margin-left: 310px;
    
}

.container-4 h4{
    color:  rgb(130, 94, 3)
}

.row-one{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 70px;
}

.container-3{
    padding-bottom: 30px;
    padding-left: 70px;
}

.buttonss{
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 7px;
    width: 300px;
    height: 42px;
    margin-top: 195px;
}
 

.buttonss #brands{
    background:  rgb(248, 179, 5);
    color: black;
}

.buttonss button{
    padding: 5px 40px;
    background: transparent;
    border: 1px solid rgb(83, 75, 2);
    border-radius: 30px;
    color:  rgb(248, 179, 5);
  
}

.inside-note{
    background: rgb(248, 179, 5);
    width: 300px;
    border-radius: 6px;
    color: black;
    text-align: left;
    
}

.notess p{

    padding-left: 20px;
    
}

.inside-note .tp{
    padding-top: 30px;
}
.inside-note .tm{
    padding-bottom: 20px;
}
.inside-note .btm{
   padding-bottom: 20px;
}

.container-4{
    padding-bottom: 50px;
}

.notess{
    padding-bottom: 60px;
}

.notess{
    margin-bottom: 50px;
    height: 300px;
}
.notess h4 {
    color: white;
    font-size: 25px;
}


